{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-12 detail_box margin_extra order_list_text">
            <h1>What is Order list?</h1>
            <p>Order list is where the staff can see what books they put on Book Shop that have been ordered</p>
        </div>
        {% for order in orders %}
        <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12 detail_box margin_extra order_list_text">
            <p>ID: {{ order.id }} </p> 
            <p>Product: {{ order.title }} </p> 
            <p>Price: {{ order.price }} </p> 
            <p>Email: {{ order.email }} </p> 
            <p>Phone: {{ order.phone }} </p> 
            <p>Date: {{ order.created_at }} </p> 
            <p>SHIPPING ADDRESS</p>
            <p>{{ order.shipping_address_name }} </p>
            <p>{{ order.shipping_address_line1 }} </p>
            <p>{{ order.shipping_address_line2 }} </p> 
            <p>{{ order.shipping_address_city }} </p> 
            <p>{{ order.shipping_address_postcode }} </p> 
            <p>{{ order.shipping_address_country }} </p> 
            {% if order.shipping_address_postcode != order.billing_address_postcode or order.shipping_address_name != order.billing_address_name or order.shipping_address_line1 != order.billing_address_line1 %}
            <p>BILLING ADDRESS (if different)</p>  
            <p>{{ order.billing_address_name }} </p> 
            <p>{{ order.billing_address_line1 }} </p> 
            <p>{{ order.billing_address_line2 }} </p> 
            <p>{{ order.billing_address_city }} </p> 
            <p>{{ order.billing_address_postcode }} </p>
            <p>{{ order.billing_address_country }} </p> 
            {% endif %}
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}