{% extends "base.html" %}
{% load static %}
{% block content %}
<div id="home_background_image" >
    <div class="container">
        <div class="row">
            <div class="container_margin col-xl-3 col-lg-5 col-sm-9">
                <h1>Book Shop Home.</h1>
                <p>Book shop is a place to buy and sell non-fiction and fiction books. This is partly to help people feel more enlightened and intelligent,
                    while feeling like they are progressing through life. One purpose is to help people buy books online so that they don't have to drive 
                    to their local book shop to get books if they even have one.
                </p>
            </div>
            <div class="container_margin col-xl-3 col-lg-5 col-sm-9">
                <h2>Status of reading</h2>
                <p>For many book sellers most of the books they sell are fiction. Book Shop aims to help with this by selling mostly non-fiction books to 
                    balance out the reading habits of the public.
                </p>
            </div>
            <div class="container_margin col-xl-3 col-lg-5 col-sm-9">
                <h2>Why read non-fiction?</h2>
                <p>To educate yourself and the world about science so that science can advance and help improve peoples lives 
                by helping to do new things and old things more effectively.</p>
            </div>
            <div class="container_margin col-xl-3 col-lg-5 col-sm-9">
                <!-- information sourced from health line -->
                <h2>The effects of reading</h2>
                <ul>
                    <li>Strengthens the brain</li>
                    <li>Increases empathy</li>
                    <li>Builds vocabulary</li>
                    <li>Improves sleep</li>
                    <li>Lengthens lifespan</li>
                </ul>
            </div>
        </div>
    </div>
</div>
{% endblock %}