/* background image */
#home_background_image {
    background-image: url(../images/images_for_site/book_shop_home.png);
    width:100vw;
    height:100vh;
}
/* centering divs  */
.home_text{
    text-align:center;
    margin:auto;
}
/* centering divs for order list page so orders are seperate and more clearly defined */
.order_list_text{
    text-align:center;
    margin:auto;
    margin-right: 2.5px;
    margin-left:2.5px;
}
/* Translucent green overlay and white text to help text stand out */
.container_margin{
    margin-top:10px;
    background-color: rgba(0, 255, 42, 0.7);
    color:white;
    font-size: 120%;
    
}
/* makes section more clearly defined with black background color and turn text white so it stands out more
also seperates from elements that are above with margin-top */
.detail_box{
    margin-top:10px;
    background-color: rgba(0, 0, 0, 0.8);
    color:white;
}
.margin_extra{
    padding-top:25px;
    padding-bottom:25px;
    margin-top:100px;
}
/* spaces out some input boxes */
.pad_1{
    margin-top:10px;
    margin-bottom:10px;
}
/* makes navbar link darker when you hover over them */
.link:hover {
    color: #000000;
    font-weight: bold;
}

nav a.active {
    color: #2c5aa0;
    font-weight: bold;
}