{% extends "base.html" %}
{% load static %}

{% block content %}
<form action="{% url 'create_checkout_session' product.id %}"
              method="POST">
            {% csrf_token %}
            <div class="container home_text">
                <div class="row">
                    <div class="col-lg-3 col-md-6 col-sm-12 detail_box margin_extra">
                    <img class="card-img-top scale image-sizer" src="https://covers.openlibrary.org/b/isbn/{{ product.isbn }}-L.jpg"
                    alt="{{product.title}}">
                    <h2>Title: {{product.title}}</h2>
                    <h3>Author: {{product.author}}</h3>
                    <h3>Rating: {{product.rating}}</h3>
                    <p>Description: {{product.description}}</p>
                    <h3>Price: {{product.price}}</h3>
                    <!-- bootstrap button class (btn-success) used to style a buy now button -->
                    <button type="submit" class="btn btn-success">Buy Now</button>
                    </div>
                    <!-- extra blank div to make space on one side of the screen -->
                    <div class="col-2 margin_extra">
                    </div>
                </div>
            </div>
</form>
{% endblock %}